.dayLabelSelectedFirstOrLastColor {
  padding: 4px;
  height: 35px;
  width: 35px;
  border: 0;
  border-radius: 50%;
  color: white;
  background-color: rgba(10, 10, 10, 0.816);
}

.dayLabelNormalColor {
  padding: 4px;
  height: 35px;
  width: 35px;
  border: 0;
  color: #001217;
  border-radius: 50%;
  background-color: rgba(213, 208, 208, 0.816);
}

.dayLabelSelectedColor {
  padding: 4px;
  height: 35px;
  width: 35px;
  border: 0;
  color: black;
  border-radius: 50%;
  background-color: rgba(213, 208, 208, 0.816);
}

.dayLabelRangeHoverColor {
  padding: 4px;
  height: 35px;
  width: 35px;
  border: 0;
  color: black;
  border-radius: 50%;
  background-color: rgba(213, 208, 208, 0.816);
}

.dayLabelDisabledColor {
  padding: 4px;
  height: 35px;
  width: 35px;
  border: 0;
  color: #808285;
  border-radius: 50%;
  background-color: #FFFFFF;
}